

.note-editable.panel-body{


    height: 300px;
}
a.seleceted-status{
    font-weight: bold;
}


.wrapper{
    position: static;

}
.content-wrapper{
    background-color: white;
}
#dropdown-menu{
    min-width: 250px;
}
#hr{
    margin: 0;
    border: 2px solid;
    color: black;

}
.add-new{

}
.post-info{
 margin-top: -29px;
}